/**
 * @name LilyPichu Red Remix xICEPICK edit
 * @description Edited version of the Lily Pichu theme.
 * @author Nyria, edited by xICEPICK#9110 and 1.5 kase Cacık#5876 and now Project SnowDrift#8982
 * @version 1.0.1
 */

@import url("https://xicepick.github.io/Discord-Themes/Lily_Pichu_Edit.css");

:root {

/* --- User variables --- */

/* Background (if you want an image replace it by :

--background-tertiary-alt: url("image"); */


/* Border-radius for the whole theme */
--border-radius: 20px;

/* Background color of activity cards*/
--playing: #8ea6fc;
--spotify: #5fce86;
--streaming: #9b77da;
--xbox: #53a853;

}

.theme-dark {

--background-tertiary-alt: url("https://i.imgur.com/keSEOuv.png");
    /* Text */
    --text-normal: #df7878;
    --header-primary: #a12222;
    --interactive-normal: #df7878;
    --channels-default: #df7878;

    --text-muted: #da8e8e;
    --interactive-muted: #bf7a7a;

    --header-secondary: #df7878;
    --interactive-hover: #ca5c5c;
    --interactive-active: #df7878;

    /* Background color */
    --background-primary: #5a1212;
    --background-secondary: #240404;
    --background-secondary-alt: #000000;
    --background-tertiary: #000000;
     --background-floating: #260f0f;
    --background-accent: #df7878;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.32);
    --background-modifier-active: rgba(0, 0, 0, 0.32);
    --background-modifier-selected: rgba(0, 0, 0, 0.32);
    --toast-background: #df7878 !important;
    --toast-header: #df7878 !important;
    --toast-contents: #df7878 !important;
    --toast-border: #df7878 !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: #ff0000;
    --scrollbar-auto-track: #260f0f;
    --scrollbar-thin-thumb: #b92828;
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-ROmMP1 { color: #df7878;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}


    /* Buttons */
    .lookFilled-1Gx00P { background-color: #b35c5c !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #b35c5c !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color:#df7878; border-color: #df7878;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}
.theme-light {

--background-tertiary-alt: url("https://i.imgur.com/S8vZYxd.png");
    /* Text */
    --text-normal: #ffabab;
    --header-primary: #ffabab;
    --interactive-normal: #ffabab;
    --channels-default: #ffabab;

    --text-muted: #da8e8e;
    --interactive-muted: #bf7a7a;

    --header-secondary: #ffabab;
    --interactive-hover: #ffd6d6;
    --interactive-active: #ffabab;

    /* Background color */
    --background-primary: #9e5b5b;
    --background-secondary: #753d3d;
    --background-secondary-alt: #975050;
    --background-tertiary: #6d3333;
     --background-floating: #6d3333;
    --background-accent: #ffabab;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(31, 42, 56, 0.32);
    --background-modifier-active: rgba(12, 14, 19, 0.32);
    --background-modifier-selected: rgba(21, 23, 31, 0.32);
    --toast-background: #ffabab !important;
    --toast-header: #ffabab !important;
    --toast-contents: #ffabab !important;
    --toast-border: #ffabab !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: #ffabab;
    --scrollbar-auto-track: #6d3333;
    --scrollbar-thin-thumb: #ffabab;
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-ROmMP1 { color: #ffabab;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}


    /* Buttons */
    .lookFilled-1Gx00P { background-color: #b35c5c !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #d85555 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color:#ffabab; border-color: #ffabab;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

      /* Container gif */
    .container-2lgZY8::after {
      content: "Stay comfy! ❤";
      position: fixed;
      top: 22px;
      bottom: 95px;
      right: 60px;
      z-index: -2;
      width: 320px;
      background-color: var(--background-primary);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: var(--header-primary);
      border-radius: var(--border-radius);
      overflow: hidden;
    }

    .container-2lgZY8::before {
      content: "";
      position: fixed;
      top: 420px;
      bottom: 200px;
      right: -32px;
      z-index: -1;
      width: 500px;
      border-radius: var(--border-radius);
      background: url("https://i.imgur.com/qaQmHtw.gif") bottom/40% no-repeat;
    }

[data-author-id="224213159756562432"] .username-1A8OIy,
[vz-user-id="224213159756562432"] .username-1A8OIy,
[data-user-id="224213159756562432"] .username-1A8OIy,
[data-user-id="224213159756562432"] + .headerInfo-30uryT .username-2b1r56,
[vz-user-id="224213159756562432"] .username-2b1r56,
[data-user-id="224213159756562432"] .username-2b1r56,
[aria-label=PANIC] .username-2b1r56,
[vz-user-id="224213159756562432"] .overflow-WK9Ogt,
[data-user-id="224213159756562432"] .overflow-WK9Ogt,
[aria-label^=PANIC] .overflow-WK9Ogt {
  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(-60deg, rgb(255, 206, 70) 40%, rgb(255, 217, 0) 80%, rgb(255, 206, 70) 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
